<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>noteai</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <h1 id="main-header">Note.AI</h1>
        
        <div id="login-block">
            <form action="/login" method="post">
                <label>Username:</label><input type="text" name="username"><br>
                <label>Password:</label><input type="text" name="password"><br>
                <input type="submit" name="submit" value="Login">
                <input type="reset" name="reset" value="Clear">
            </form>

            <p>Or</p>
            <a href="/signup">Sign Up</a>
            <br>
        </div>

        <!-- <script src="index.js"></script> -->
    </body>

</html>
